body {
        background-color: #00FFFF;
}
#pic {
}

.content {
    height:400px;
    text-align: center;
}

.accordion {
    background-color:#40E0D0;
    width: 50%;
    height: 15%;
    border: none;
}

.active, .accordion:hover {
    background-color: #8FDADF;
}
.panel {
    margin-left: 25%;
    background-color: white;
    overflow: hidden;
    width: 50%;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

