{% extends 'landing.html' %}
{% load staticfiles %}
{% load static %}
        {% block title %}
        Profile
        {% endblock %}

    {% block content %}
        <br>
        <br>
        <br>
        <br>
        <!-- https://preview.ibb.co/d6j9fK/DSC_0001.jpg -->
            <img title="This is MEh" src="{% static 'img/Pic.JPG' %}" height="200vw" width="200vw" class="img-fluid img-thumbnail rounded-circle" ></img>
        <article class="h3">Hello There! The name's Farras</article>


        <article><b>NPM</b> : 1706024513</article>
        <article><b>Hobi:</b> Tidur</article>
        <article>I am 19 years old</article>
        <br>
        <div class="accordions">
            <button class="accordion btn" id="kegiatan">Kegiatan saat ini</button>
                <div class="panel">

                        Lorem ipsum dolor sit amet, an nec iriure consequat definitionem, pro et sale tamquam. Ne usu agam probatus. Et alii iusto consequuntur quo, ei timeam tacimates sea, an doming accusam interpretaris sea. Ex eos ipsum iuvaret necessitatibus, pro prodesset percipitur no. Electram inciderint ut vix, diam civibus theophrastus qui ex. Id denique explicari his.

                </div>

                <button class="accordion btn" id="organisasi">Kepanitiaan <br> & Organisasi</button>
                <div class="panel">
                    <p>
                        <ul>
                            <li>PMB 2018 - Dokumentasi</li>
                            <li>SIWAK NG - Publikasi & Dokumentasi</li>
                            <li>FUKI - FUKI Corp</li>
                        </ul>
                    </p>
                </div>

                <button class="accordion btn" id="prestasi">Prestasi</button>
                <div class="panel">
                    <p>
                        Qui eirmod dolorum deseruisse eu. No eam elitr tractatos referrentur, doming assentior ea vim, tantas aperiri ut nam. Per magna consulatu deterruisset ex, sit atqui epicurei an, affert dolore audire pri ut. Cum an falli scaevola mediocritatem, velit nominati definitionem ex vel.
                    </p>
                </div>

        </div>

        <br>
        <br>
        <br>
        <br>
    {% endblock %}
