{% load staticfiles %}
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            {% block title %}
            Landing Page
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    </head>
    <body>
        <img class="img-fluid " src="https://media1.tenor.com/images/a6a6686cbddb3e99a5f0b60a829effb3/tenor.gif" id="spinner">
        <div class="content">
        <div class="btn-group">
            <button class="btn btn-light" id="landing" onclick="location.href='/landing'">Status</button>
            <button id="darkTheme" class="btn btn-secondary">Change Dark Theme</button>
            <button id="blueTheme" class="btn btn-info">Change Blue Theme</button>
            <button class="btn btn-primary" id='profile' onclick="location.href='/profile'">My Profile</button>
        </div>

        {% block content %}

        <h1> Hello. Apa Kabar?</h1>
        <form method="post" > {% csrf_token %}
            {{form.status}} <br>
            <input id='soubmit' class="btn btn-light" type="submit" value=submit>
        </form>
        <div class="row text-left">
            <div class="col-12 offset-4">
                Recent Status <br> <br>
            </div>
        </div>
        {% if data %}
        {% for status in data %}
        <div class="row text-left">
            <div class="col-12 offset-4 ">
                on {{status.time}}
                <p id='posts{{status.id}}'>{{status.status}}</p> <br>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="row text-left">
            <div class="col-12 offset-4">
            Empty Status
            </div>
        </div>
        {% endif %}
        {% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{% static 'js/kelas.js' %}"></script>
    </body>
</html>
